extends main.pug

block variables
    - var authorised = true

block footer
    footer.footer
        .right-footer
            p Бабинцев Алексей, 2021 &#169;
        p#servertime #{ServerResponseTime}