<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Web</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Страница, личная, визитка">
    <meta name="description" content="Сайт визитка">
    <link rel="stylesheet" href="/css/outlines.css">
    <link href="../../public/ToDoList.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="header__container"><a class="header__logo" href="/index.html"></a>
        <div class="header__menu">
          <div class="menu__icon"><span></span></div>
          <nav class="menu__body">
            <ul class="menu__list">
              <li><a class="menu__link" href="./index.html" data-nav="nav">Главная</a></li>
              <li><a class="menu__link" href="/html/ToDoList.html" data-nav="nav">Список дел</a></li>
              <li><a class="menu__link" href="lab6.html" data-nav="nav">Фетч</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="find">
      <h1>Список дел</h1>
      <form id="task__form">
        <input id="task__input" type="text" placeholder="Чего сегодня делаем?">
        <input id="task__submit" type="submit" value="Добавить">
      </form>
    </div>
    <main>
      <section class="task__box">
        <h2>Дела</h2>
        <div id="tasks"></div>
      </section>
    </main>
    <p>Лучше авторизируйтесь!</p>
    <script src="../../public/main.js"></script>
    <script src="../../public/ToDoList.js"></script>
  </body>
</html>